body {
    background: linear-gradient(to bottom, #87CEEB, #3B5998);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
}

p{
    color: #8cacd4;
}

h1,h2,h3{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

#haut {
    margin: 0 auto;
    width: 922px;
}

#header {
    height: 100px;
    background-image: url(informatique.jpg);
    background-repeat: no-repeat;
    margin-bottom: 10px;
    background-position: center;
    margin-top: 10px;
}

#colonnegauche {
    display: inline;
    color: #333;
    margin: 10px;
    padding: 0px;
    width: 195px;
    float: left;
}

#droitecorps {
    float: right;
    color: #333;
    margin: 25px;
    padding: 0px;
    width: 683px;
    display: inline;
    position: relative;
}

#footer {
    width: 902px;
    color: #333;
    background: #ABBEBE;
    font-size: 85%;
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

hr {
    color: blue;
    background-color: blue;
    height: 4px;
    width: 50%;
    margin: auto
}

.paragraphe {
    font-family: Garomond, Arial, Verdana;
    font-size: 160%;
    text-align: center;
    font-weight: bold;
}

a:focus {
    color: #990000;
}

a:visited {
    color: #8A2BE2;
}

a:hover {
    color: green;
}

a:active {
    color: #000000;
}

.titre {
    font-size: 160%;
    text-align: center;
    color: #0000FF;
    font-weight: bold;
}

.soustitre {
    font-size: 140%;
    text-align: center;
    color: black;
    font-weight: bold;
}

.image {
    text-align: left;
    top: 0;
    left: 0;
    width: 100px;
    height: auto;
}

table {
    margin: auto; /* Centre le tableau */
    border: 4px outset navy; /* Bordure du tableau avec effet 3D (outset) */
    border-collapse: collapse; /* Colle les bordures entre elles */
}

th {
    border: 1px solid;
    color: navy;
    font-size: 120%;
    font-family: Verdana, Garomond, Arial;
    padding: 5px;
}

td {
    border: 1px solid;
    font-family: Verdana, Garomond, Arial;
    text-align: center; /* Tous les textes des cellules seront centrés*/
    padding: 5px; /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
}

marquee {
    font-family: Garomond, Arial, Verdana;
    font-size: 160%;
    text-align: center;
    color: navy;
    font-weight: bold;
    background-color: white;
}

.legende {
    font-family: Verdana, Garomond, Arial;
}
