body{
    background: linear-gradient(to bottom, #87CEEB, #3B5998);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    background-attachement: fixed;
}

p{
    color: #8cacd4;
}

.icone {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 100px;
    height: auto;
}

h1 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
}
